.folder {
  width: 100px;
  margin: 2rem;
}

.folder__name {
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.75;
  color: white;
  margin-top: 1rem;
}

.folder__wrapper {
  width: 100px;
  position: relative;
  user-select: none;
}

.folder-top {
  position: relative;
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-left: 2px solid white;
}

.folder-top::before {
  position: absolute;
  left: -10px;
  content: "";
  display: block;
  height: 100%;
  width: 55%;
  background-color: rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  transform: skewX(25deg);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.folder-bottom {
  width: 100%;
  height: 65px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0 2px 2px 2px;
  /* border: 2px solid rgb(255, 255, 255); */
  transition: all 200ms ease-out;
}

.folder-bottom:hover {
    perspective: 100px;
    transform-origin: 100% 100%;
    transform: rotateX(50deg);
}