/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@import url(./window.css);

@font-face {
  font-family: "Dina";
  src: url("../assets/fonts/DinaRemasterCollection.ttc");
}

:root {
  --bg: black;
  --color: rgb(0, 206, 0);
  --font: "Fira Code";
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dina";
  font-family: monospace;
  font-family: 'Inconsolata', monospace;
  color: var(--color);
  background-color: black;
  font-size: 1rem;
}
body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}
p + p {
  margin-top: 1rem;
  color: gray;
}


kbd {
  color: rgb(0, 241, 217);
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.code {
  position: relative;
  width: 100%;

  max-height: 100%;
  min-height: 100vh;
  height: 100%;

  background-color: var(--bg);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem 1rem 5rem;
}

.code::-webkit-scrollbar {
  display: none;
}

.code-pre {
  width: 100%;
  height: auto;
  border: 0;
  outline: 0;
  resize: none;
  background: transparent;
  line-height: 2;
  font-family: inherit;
  font-size: 1rem;
}

.code-area {
  position: absolute;
  bottom: -100px;
  height: 0;
  width: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  overflow: hidden;
}

.code-cursor {
  display: inline-block;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

.code-setting {
  position: fixed;
  right: 1rem;
  top: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;

  padding: 0.875rem 1rem;
  outline: 2px solid rgb(19, 19, 19);

  background: rgb(15, 15, 15);
  color: rgb(157, 157, 157);
}

/* ========== window styling =========== */
