.window {
  position: fixed;
  z-index: 999999;
  bottom: 25vh;
  right: 300px;
  width: 500px;
  height: auto;

  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  color: rgb(205, 205, 205);

  visibility: visible;
}

.window--hidden {
  visibility: hidden !important;
}

.window__header {
  display: flex;
  align-items: center;
  cursor: move;
  user-select: none;
  color: white;
  background-color: rgb(0, 0, 0);
  border-bottom: 5px solid white;
}

.window--focused .window__header {
   background-color: white;
   color: black;
}


.window__title {
  flex-grow: 1;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.window__close {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.window__close:hover {
  background-color: rgb(63, 63, 63);
  color: white;
}

.window__body {
  flex-grow: 1;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  padding: 2rem 1rem;
}


.window__optionlist {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.window__option {
  display: grid;
  grid-template-columns: 140px 1fr 100px;
  align-items: center;
  gap: 1rem;
}

.window__option-name {
  width: 100px;
}

.window__option-input {
  background-color: transparent;
  color: white;
  height: 34px;
  /* width: 100px; */
  padding: 0 1rem;
  outline: transparent;
  border: 1px solid rgb(32, 32, 32);
  font-size: 1rem;
  font-family: inherit;
  margin-left: 20px;
}

.window-colors {
  display: flex;
  gap: 1.25rem;
}

.window-color {
  height: 0.875rem;
  width: 0.875rem;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}
.window-color--selected {
  outline-offset: 0.15rem;
  outline: 3px solid white;
}

.window__slider {
  width: 100%;
  display: flex;
  align-items: center;
}

/* rc-slider custom styling */
.rc-slider {
  width: 100%;
  height: 15px;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

/* slider rail */
.rc-slider-rail {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 4px;
  background-color: rgb(45, 45, 45);
}

/* slider track */
.rc-slider-track {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 4px;
  background-color: rgb(255, 255, 255);
}

/* slider handle */
.rc-slider-handle {
  position: absolute;
  z-index: 15;
  height: 15px;
  width: 15px;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
}

.rc-slider-handle-dragging {
  opacity: 1;
}

.rc-slider:hover .rc-slider-handle {
  opacity: 1;
}

/* ======= react-dropdown styling =========== */
.dropdown {
  position: relative;
  width: 180px;
}

.dropdown-control {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  border: 1px solid white;
  background-color: rgba(141, 141, 141, 0.1);
}

.dropdown-placeholder {
  flex-grow: 1;
  padding: 0 0.875rem;
  height: 34px;
  display: flex;
  align-items: center;

  color: rgb(124, 124, 124);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-arrow {
  display: flex;
  margin-right: 0.65rem;
  background-color: rgb(16, 16, 16);
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  background-color: rgb(15, 15, 15);
  border: 1px solid rgb(255, 255, 255);
  border-top: 0;
}

.dropdown-menu .Dropdown-option {
  padding: 0 0.875rem;
  height: 34px;
  display: flex;
  align-items: center;

  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu .Dropdown-option:hover {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0);
}

.dropdown-menu .Dropdown-option.is-selected {
  background-color: rgb(21, 21, 21);
}

/* file input upload  */
input.window__upload {
  /* padding: 0.125rem; */
  font-family: inherit;
  background: rgb(16, 16, 16);
  border: 1px solid white;
}

input.window__upload::file-selector-button {
  padding: 0.5rem 0.875rem;
  height: 34px;

  font-family: inherit;
  font-size: 1rem;
  color: rgb(57, 57, 57);
  background: rgb(255, 255, 255);

  margin-right: 0.75rem;
  outline: 0;
  border: 0;
}
