
.header {
    position: fixed;
    bottom: 0;
    z-index: 500;
    width: 100%;
    border-top: 1px solid rgb(60, 60, 60);
    background-color: rgb(13, 13, 13);
    padding: 0.65rem 2rem;
    font-size: 1rem;
}

.header--hidden {
    display: none;
}


.header__wrapper {
    display: flex;
    align-items: center;
}

.start {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 100px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.65rem;
    border-radius: 0.125rem;

    color: rgb(214, 214, 214);
    background-color: rgb(23, 23, 23);
}

.start:hover {
    outline: 2px solid rgb(255, 255, 255);
}


.nav {
    display: flex;
    gap: 0.5rem;
}

.nav__item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.nav__item:hover {
    background-color: rgb(33, 33, 33);
    color: rgb(217, 217, 217);
    outline: 1px solid white;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.action {
    padding: 0.25rem;
}