
.header {
    position: sticky;
    top: 0;
    z-index: 500;
    width: 100%;
    border-bottom: 1px solid rgb(60, 60, 60);
    background-color: rgb(0, 0, 0);
    padding: 0.75rem 2rem;
    font-size: 1rem;
}

.header--hidden {
    display: none;
}


.header__wrapper {
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    margin-right: 100px;
}

.nav {
    display: flex;
    gap: 0.5rem;
}

.nav__item {
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.nav__item:hover {
    background-color: rgb(33, 33, 33);
    color: rgb(217, 217, 217);
    outline: 1px solid white;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.action {
    padding: 0.25rem;
}